extend layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/books.css")
  script(src="/javascripts/add-book.js")


block content
  div.book
    img(src=`${book.coverArt}` width="160px" height="200px")
    ul.list(id=`${book.id}`)
      li.title= book.title
      li.author by #{book.author}
      li.synopsis= book.synopsis
      li.published published #{book.publicationDate}
  div
    div.errors
    form(action=`/books/${book.id}` method="post")
      select.cryptSelector(name="cryptSelector")
        option Add to Crypt...
        each crypt in crypts
          option(value=crypt.id class="crypt")= crypt.name
      button(type="submit" id="crypt-submit") Submit

  include footer.pug
