extend layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/books.css")


block content
  div.book
    img(src=`${book.coverArt}` width="80px" height="100px")
    ul.list
      li.title= book.title
      li by #{book.author}
      li= book.synopsis
      li published #{book.publicationDate}