extends layout.pug

block content

    table
        thead
            tr
                th Read
                th Want to Read
                th Currently Reading
        tbody
            tr
                td: a(href=`/users/${user.id}/crypts/${crypts[0].id}`)= crypts[0].name
                td: a(href=`/users/${user.id}/crypts/${crypts[1].id}`)= crypts[1].name
                td: a(href=`/users/${user.id}/crypts/${crypts[2].id}`)= crypts[2].name
